<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마켓칼리</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  </head>

  <body>
    <!-- 뷰티 플랫폼 POP UP -->
    <div class="beauty_popup">
      <img src="../assets/jenny.png" alt="뷰티 플랫폼 이미지" />
      <div class="beauty_popup_button_list">
        <button class="beauty_popup_never_watch">오늘 하루 안 보기</button>
        <button class="beauty_popup_close">닫기</button>
      </div>
    </div>

    <button class="cart_button">
      <img src="../assets/cart.png" alt="장바구니" />
    </button>
    <!-- 장바구니 POP UP -->
    <div class="cart_popup_container">
      <div class="cart_popup">
        <div class="cart_popup_info">
          <span>[풀무원] 탱탱쫄면 (4개입)</span>
          <div class="cart_popup_price_of_count">
            <span>4,980원</span>
            <div class="cart_popup_count">
              <button class="cart_minus">
                <img src="../assets/minus.png" alt="1 감소" />
              </button>
              <span>1</span>
              <button class="cart_plus">
                <img src="../assets/plus.png" alt="1 증가" />
              </button>
            </div>
          </div>
        </div>
        <div class="cart_popup_total">
          <div class="cart_popup_price">
            <span>합계</span>
            <span>4,980원</span>
          </div>
          <div class="cart_popup_point">
            <span>적립</span>
            <span>구매 시 5원 적립</span>
          </div>
        </div>
        <div class="cart_popup_buttons">
          <button class="cart_popup_cancel">취소</button>
          <button class="cart_popup_save">장바구니 담기</button>
        </div>
      </div>
    </div>

    <footer class="footer">
      <section class="footer_inner">
        <article class="footer_inner_top">
          <section class="footer_customer_service">
            <h4>고객행복센터</h4>
            <div class="customer_service_number">
              <em>1644-1107</em>
              <span>월-토요일 오전 7시 - 오후 6시</span>
            </div>
            <ul class="customer_service_inquiries">
              <li>
                <button type="button" aria-label="카카오톡 문의하기">
                  카카오톡 문의
                </button>
                <div>
                  <span>월-토요일 | 오전 7시 - 오후 6시</span>
                  <span>일/공휴일 | 오전 7시 - 오후 1시</span>
                </div>
              </li>
              <li>
                <button type="button" aria-label="1대1 문의하기">
                  1:1 문의
                </button>
                <div>
                  <span>365일</span>
                  <span>고객센터 운영시간에 순차적으로 답변드리겠습니다.</span>
                </div>
              </li>
              <li>
                <button type="button" aria-label="대량주문 문의하기">
                  대량주문 문의
                </button>
                <div>
                  <span>월-금요일 | 오전 9시 - 오후 6시</span>
                  <span>점심시간 | 낮 12시 - 오후 1시</span>
                </div>
              </li>
            </ul>
            <div class="customer_service_mail">
              <a href="mailto:help@karlycorp.com"
                >비회원 문의 : <em> help@karlycorp.com</em></a
              >
              <a href="mailto:help@karlycorp.com">
                비회원 대량주문 문의 :
                <em> help@karlycorp.com</em>
              </a>
            </div>
          </section>
          <section class="footer_about">
            <ul class="footer_navigation">
              <li><a href="/">칼리소개</a></li>
              <li><a href="/">칼리소개영상</a></li>
              <li><a href="/">인재채용</a></li>
              <li><a href="/">이용약관</a></li>
              <li>
                <a href="/">개인정보처리방침</a>
              </li>
              <li><a href="/">이용안내</a></li>
            </ul>
            <ul class="footer_area">
              <li class="footer_area_address">
                <p>
                  법인명(상호):주식회사 컬리 | 사업자등록번호:261-81-23567 |
                  <em><a href="/">사업자정보 확인</a> </em>
                </p>
              </li>
              <li class="footer_area_address">
                <p>
                  통신판매업:제 2018-서울강남-01646 호 |
                  개인정보보호책임자:이원준
                </p>
              </li>
              <li class="footer_area_address">
                <address>
                  주소:서울특별시 강남구 테헤란로 133, 18층(역삼동) |
                  대표이사:김슬아
                </address>
              </li>
              <li class="footer_area_address">
                <a href="mailto:business@karlycorp.com">
                  입점문의:입점문의하기 | 제휴문의:<em
                    >business@karlycorp.com</em
                  >
                </a>
              </li>
              <li class="footer_area_address">
                <a href="mailto:recruit@karlycorp.com"
                  >채용문의: <em>recruit@karlycorp.com</em></a
                >
              </li>
              <li class="footer_area_address">
                <address>팩스:070-7500-6098</address>
              </li>
            </ul>
            <ul class="footer_sns">
              <li>
                <a
                  href="https://section.blog.naver.com/BlogHome.naver?directoryNo=0&currentPage=1&groupId=0"
                  aria-label="네이버 블로그 계정 링크"
                  ><img
                    src="../../client/assets/icon/blog_icon.jpg"
                    alt="네이버 블로그 아이콘"
                /></a>
              </li>
              <li>
                <a
                  href="https://m.facebook.com/login/?locale=ko_KR"
                  aria-label="페이스북 계정 링크"
                  ><img
                    src="../assets/icon/facebook_icon.png"
                    alt="페이스북 아이콘"
                /></a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/accounts/login/"
                  aria-label="인스타그램 계정 링크"
                  ><img
                    src="../assets/icon/instar_icon.png"
                    alt="인스타그램 아이콘"
                /></a>
              </li>
              <li>
                <a
                  href="https://post.naver.com/navigator.naver"
                  aria-label="네이버 포스트 계정 링크"
                  ><img
                    src="../assets/icon/naver_icon.png"
                    alt="네이버 포스트 아이콘"
                /></a>
              </li>
              <li>
                <a
                  href="https://www.youtube.com/account_advanced"
                  aria-label="유튜브 계정 링크"
                  ><img
                    src="../assets/icon/youtube_icon.png"
                    alt="유튜브 아이콘"
                /></a>
              </li>
            </ul>
          </section>
        </article>
        <ul class="footer_inner_middle">
          <li class="footer_item">
            <img
              src="../assets/icon/isms_icon.jpg"
              alt="마켓칼리 쇼핑몰 서비스 개발 운영"
            />
            <div>
              <span>[인증범위] 마켓칼리 쇼핑몰 서비스 개발 운영</span>
              <span>(심사받지 않은 물리적 인프라 제외)</span>
              <span>[유효기간] 2022.01.19 - 2025.01.18</span>
            </div>
          </li>
          <li class="footer_item">
            <img
              src="../assets/icon/privacy_icon.jpg"
              alt="개인정보보호 우수 웹사이트"
            />
            <div>
              <span>개인정보보호 우수 웹사이트</span>
              <span>개인정보처리시스템 인증(ePRIVACY PLUS)</span>
            </div>
          </li>
          <li class="footer_item footer_long_item" id="middle_center_toss">
            <img src="../assets/icon/payments_icon.jpg" alt="토스페이먼츠" />
            <div>
              <span
                >토스페이먼츠 구매안전(에스크로) 서비스를 이용하실 수
                있습니다.</span
              >
            </div>
          </li>
          <li class="footer_item">
            <img src="../assets/icon/bank_icon.jpg" alt="우리은행" />
            <div>
              <span
                >고객님이 현금으로 결제한 금액에 대해 우리은행과 채무지급보증
                계약을 체결하여 안전거래를 보장하고 있습니다.</span
              >
            </div>
          </li>
        </ul>
      </section>
      <section class="footer_bottom">
        <p>
          마켓칼리에서 판매되는 상품 중에는 마켓칼리에 입점한 개별 판매자가
          판매하는 마켓플레이스(오픈마켓) 상품이 포함되어 있습니다.
          <br />마켓플레이스(오픈마켓) 상품의 경우 칼리는 통신판매중개자로서
          통신판매의 당사자가 아닙니다. 칼리는 해당 상품의 주문, 품질, 교환/환불
          등 의무와 책임을 부담하지 않습니다.
        </p>
        <p>© KURLY CORP. ALL RIGHTS RESERVED</p>
      </section>
    </footer>
  </body>
</html>
