<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마켓칼리</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  </head>

  <body>
    <div class="recent">
      <div class="recent_product">
        <!-- Swiper -->
        <div class="swiper-button-prev recent_product_arrow_down"></div>
        <p>최근 본 상품</p>
        <div class="swiper recent_product_swiper">
          <div class="swiper-wrapper recent_swiper_wrapper"></div>
        </div>
        <div class="swiper-button-next recent_product_arrow_up"></div>
      </div>
    </div>
  </body>
</html>
