/* Base Style*/

body,
body::before,
body::after,
body,
body ::before,
body::after {
  box-sizing: border-box;
}

[class] {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font: inherit;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  background-color: #fff;
}

/* 유연한 미디어 */
img {
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}
:root {
  --baseSpace: 4px;
  --space-1: var(--baseSpace);
  --space-2: calc(var(--baseSpace) + var(--space-1));
  --space-3: calc(var)
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
  --space-9: 36px;
  --space-10: 40px;
  --space-11: 44px;
  --space-12: 4px;
  --space-13: 4px;
  --space-14: 4px;
  --space-15: 4px;
  --space-16: 4px;
  --space-17: 4px;
  --space-18: 4px;
  --space-19: 4px;
  --space-20: 4px;
  --space-21: 4px;
  --space-22: 4px;
  --space-23: 4px;
}
