.login_wrapper {
  min-width: 1050px;
  margin-top: 90px;
  margin-bottom: 60px;
  letter-spacing: -0.6px;
}
.login_wrapper h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.form_container {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin: 0 auto;
}
.form_container .id_form_tag {
  height: 54px;
  padding: 0 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid var(--gray-200);
  font-weight: 400;
  margin-bottom: 14px;
  line-height: 1.5;
  color: var(--content);
  outline: none;
}
.form_container .password_form_tag {
  height: 54px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid var(--gray-200);
  font-weight: 400;
  margin-bottom: 18px;
  line-height: 1.5;
  color: var(--content);
  outline: none;
}

.login_wrapper .find_container {
  text-align: right;
  margin-bottom: 30px;
}
.find_container span {
  content: "";
  background-color: var(--gray-900);
  width: 30px;
  display: inline-block;
  height: 30px;
  background-image: url(../../assets/select/isSelected=false.png);
  background-repeat: no-repeat;
}
.find_container .id_find,
.pw_find {
  cursor: pointer;
  font-size: var(--font-paragraph-small);
  font-weight: 400;
  line-height: 160%;
  font-style: normal;
}
.find_container span {
  width: 1px;
  height: 10px;
}
.button_container {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin: 0 auto;
}
.button_container .login_btn {
  width: 100%;
  height: 54px;
  padding: 0 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid var(--gray-200);
  background-color: var(--primary);
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
.button_container .signup_btn {
  width: 100%;
  height: 54px;
  padding: 0 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid var(--primary);
  background-color: #ffffff;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.5;
  color: var(--primary);
  outline: none;
  cursor: pointer;
}
