html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

/* 메인 배너 */
.swiper-button-next,
.swiper-button-prev {
  width: 52px;
  height: 52px;
}

.swiper-button-next {
  background: url(../../assets/index/Arrow_right.png) no-repeat;
  background-position: center;
}

.swiper-button-prev {
  background: url(../../assets/index/Arrow_left.png) no-repeat;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/*  메인 배너  */
.index_visual {
  height: 370px;
  max-width: 1900px;
  margin: 0px auto;
  position: relative;
}

.index_visual .swiper-button-next {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  margin: auto 0px auto 590px;
}

.index_visual .swiper-button-prev {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 50%;
  margin: auto 590px auto 0px;
  left: initial;
}

.index_visual .swiper img {
  width: 100%;
  min-width: 1050px;
  height: 370px;
  object-fit: cover;
}

.index_visual .swiper-pagination {
  display: block;
  background-color: rgb(64 64 64 / 0.4);
  width: 47px;
  height: 18px;
  border-radius: 12px;
  color: #ffffff;
  font-size: var(--font-label-small);
  line-height: 18px;
  position: absolute;
  left: 77%;
  bottom: 29px;
}

/* 이 상품 어때요?  */
.index_recommend_product {
  width: 1050px;
  margin: 0 auto;
  padding: 40px 0;
}

.index_recommend_product h2 {
  font-size: var(--font-heading-xl);
  color: var(--content);
  font-weight: 700;
  margin-top: 12px;
  text-align: center;
}

.index_recommend_product .index_recommend_product_swiper {
  margin-top: 40px;
}

.index_recommend_product ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.index_recommend_product ul li {
  width: 250px;
}

.index_recommend_product ul li .index_recommend_product_swiper_item {
  display: block;
  cursor: pointer;
  position: relative;
}

.index_recommend_product ul li .index_recommend_product_swiper_item img {
  margin-bottom: 16px;
}

.index_recommend_product
  ul
  li
  .index_recommend_product_swiper_item
  .recommend_swiper_item_cart {
  display: block;
  position: absolute;
  right: 17px;
  top: 259px;
  width: 45px;
  height: 45px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  background-color: transparent;
}

.index_recommend_product
  ul
  li
  .product_item
  div
  .recommend_swiper_item_cart
  img {
  width: 100%;
}

.recommend_swiper_item_title {
  margin-bottom: 8px;
}

.recommend_product_swiper_item {
  font-size: var(--font-paragraph-medium);
  color: var(--content);
  margin-bottom: 8px;
}

.recommend_swiper_item_price {
  font-size: var(--font-label-large);
  font-weight: 600;
  margin-bottom: 8px;
}

.recommend_swiper_item_price span {
  color: var(--accent-yellow);
  font-weight: 600;
  margin-right: 8px;
}

.recommend_swiper_item_origin_cost {
  font-size: var(--font-paragraph-small);
  color: var(--gray-400);
  text-decoration: line-through;
}

/* 이벤트 배너 */
.event_banner {
  width: 1050px;
  height: 139px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.event_banner img {
  width: 100%;
}

/* 최근 본 상품 */
.recent_product {
  position: fixed;
  top: 500px;
  right: 79px;
  z-index: 10;
  background: #fff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.recent_product p {
  font-size: var(--font-label-small);
  color: var(--black);
  font-weight: 600;
  margin-bottom: 8px;
}

.recent_product img {
  width: 40px;
  height: 51px;
}

.recent_product .recent_product_arrow_up {
  display: block;
  width: 18px;
  height: 18px;
  background: url(../../assets/index/small_arrow.png) center center no-repeat;
  background-size: 8px 4px;
}

.recent_product .recent_product_arrow_down {
  display: block;
  width: 18px;
  height: 18px;
  background: url(../../assets/index/small_arrow.png) center center no-repeat;
  background-size: 8px 4px;
  transform: rotate(180deg);
}

.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
